In [10]:
#Esercizio: analisi dati Facebook

#Importo Pandas e carico il csv come dataframe
import pandas as pd
df = pd.read_csv('C:\\Users\\alice\\Downloads\\facebook.csv')

#Controllo i nomi delle colonne e le prime 5 righe
print("Anteprima:")
print(df.head())

Anteprima:
                          status_id status_type status_published  \
0  246675545449582_1649696485147474       video   4/22/2018 6:00
1  246675545449582_1649426988507757       photo  4/21/2018 22:45
2  246675545449582_1648730588577397       video   4/21/2018 6:17
3  246675545449582_1648576705259452       photo   4/21/2018 2:29
4  246675545449582_1645700502213739       photo   4/18/2018 3:22

   num_reactions  num_comments  num_shares  num_likes  num_loves  num_wows  \
0            529           512         262        432         92         3
1            150             0           0        150          0         0
2            227           236          57        204         21         1
3            111             0           0        111          0         0
4            213             0           0        204          9         0

   num_hahas  num_sads  num_angrys
0          1         1           0
1          0         0           0
2          1         0           0
3          0         0           0
4          0         0           0

In [12]:
#Converto la colonna 'status_published' in formato Timestamp
df["status_published"] = pd.to_datetime(df["status_published"])
print(df[["status_published"]].head())

     status_published
0 2018-04-22 06:00:00
1 2018-04-21 22:45:00
2 2018-04-21 06:17:00
3 2018-04-21 02:29:00
4 2018-04-18 03:22:00

In [15]:
#Estraggo anno, mese, giorno, giorno della settimana e giorno dell'anno dalla colonna 'status_published'
df["Anno"] = df["status_published"].dt.year
df["Mese"] = df["status_published"].dt.month
df["Giorno"] = df["status_published"].dt.day
df["GiornoSettimana"] = df["status_published"].dt.dayofweek
df["GiornoAnno"] = df["status_published"].dt.dayofyear
print(df[["Anno", "Mese", "Giorno", "GiornoSettimana", "GiornoAnno"]].head())

   Anno  Mese  Giorno  GiornoSettimana  GiornoAnno
0  2018     4      22                6         112
1  2018     4      21                5         111
2  2018     4      21                5         111
3  2018     4      21                5         111
4  2018     4      18                2         108

In [16]:
#Estraggo solo post relativi al 2012
Post2012 = df[df["Anno"] == 2012]["status_id"].count()
print("Post nel 2012:", Post2012)

Post nel 2012: 589

In [17]:
#Estraggo solo post relativi a maggio 2018
Post052018 = df[(df["Anno"] == 2018) & (df["Mese"] == 5)]["status_id"].count()
print("Post nel maggio 2018:", Post052018)

Post nel maggio 2018: 595

In [18]:
#Confronto il numero di post pubblicati nei weekend rispetto al numero di post pubblicati nel resto della settimana
df["Weekend"] = df["GiornoSettimana"].isin([5, 6])    #Creo una colonna booleana per il sabato (5) e la domenica (6)
post_weekend = df[df["Weekend"]]["status_id"].count()    #Conto i post nei weekend
post_feriali = df[~df["Weekend"]]["status_id"].count()    #Conto i post nel resto della settimana

print(f"Numero di post nei weekend: {post_weekend}")
print(f"Numero di post nei giorni feriali: {post_feriali}")

Numero di post nei weekend: 2041
Numero di post nei giorni feriali: 5009

In [21]:
#Trovo il primo e l'ultimo post di ogni anno
primo_post = df.groupby("Anno")["status_published"].min()
ultimo_post = df.groupby("Anno")["status_published"].max()

print(f"Primo post per anno: {primo_post}")
print(f"Ultimo post per anno: {ultimo_post}")

Primo post per anno: Anno
2012   2012-07-15 02:51:00
2013   2013-01-02 02:23:00
2014   2014-01-05 09:23:00
2015   2015-01-02 03:41:00
2016   2016-01-03 04:23:00
2017   2017-01-02 08:25:00
2018   2018-01-01 01:39:00
Name: status_published, dtype: datetime64[ns]
Ultimo post per anno: Anno
2012   2012-12-23 03:11:00
2013   2013-12-31 23:38:00
2014   2014-12-10 07:42:00
2015   2015-12-31 08:20:00
2016   2016-12-31 05:13:00
2017   2017-12-31 22:15:00
2018   2018-06-13 01:12:00
Name: status_published, dtype: datetime64[ns]

In [23]:
#Trovo i tipi di post e il numero per ogni tipo
tipi_post = df["status_type"].unique()
print(f"Tipi di post: {tipi_post}")

conteggio_per_tipo = df["status_type"].value_counts()
print(f"\nNumero di post per tipo: {conteggio_per_tipo}")

Tipi di post: ['video' 'photo' 'link' 'status']

Numero di post per tipo: status_type
photo     4288
video     2334
status     365
link        63
Name: count, dtype: int64

In [24]:
#Esercizio: Analisi dati Pokémon

#Importo pandas e carico il csv come dataframe
import pandas as pd
df = pd.read_csv('C:\\Users\\alice\\Downloads\\pokemon.csv')

#Controllo i nomi delle colonne e le prime 5 righe
print("Anteprima:")
print(df.head())

Anteprima:
                     abilities  against_bug  against_dark  against_dragon  \
0  ['Overgrow', 'Chlorophyll']          1.0           1.0             1.0
1  ['Overgrow', 'Chlorophyll']          1.0           1.0             1.0
2  ['Overgrow', 'Chlorophyll']          1.0           1.0             1.0
3     ['Blaze', 'Solar Power']          0.5           1.0             1.0
4     ['Blaze', 'Solar Power']          0.5           1.0             1.0

   against_electric  against_fairy  against_fight  against_fire  \
0               0.5            0.5            0.5           2.0
1               0.5            0.5            0.5           2.0
2               0.5            0.5            0.5           2.0
3               1.0            0.5            1.0           0.5
4               1.0            0.5            1.0           0.5

   against_flying  against_ghost  ...  percentage_male  pokedex_number  \
0             2.0            1.0  ...             88.1               1
1             2.0            1.0  ...             88.1               2
2             2.0            1.0  ...             88.1               3
3             1.0            1.0  ...             88.1               4
4             1.0            1.0  ...             88.1               5

   sp_attack  sp_defense  speed  type1   type2  weight_kg  generation  \
0         65          65     45  grass  poison        6.9           1
1         80          80     60  grass  poison       13.0           1
2        122         120     80  grass  poison      100.0           1
3         60          50     65   fire     NaN        8.5           1
4         80          65     80   fire     NaN       19.0           1

   is_legendary
0             0
1             0
2             0
3             0
4             0

[5 rows x 41 columns]

In [25]:
#Controllo quanti valori nulli ci sono
valori_nulli = df.isnull().sum()
print(valori_nulli)

abilities              0
against_bug            0
against_dark           0
against_dragon         0
against_electric       0
against_fairy          0
against_fight          0
against_fire           0
against_flying         0
against_ghost          0
against_grass          0
against_ground         0
against_ice            0
against_normal         0
against_poison         0
against_psychic        0
against_rock           0
against_steel          0
against_water          0
attack                 0
base_egg_steps         0
base_happiness         0
base_total             0
capture_rate           0
classfication          0
defense                0
experience_growth      0
height_m              20
hp                     0
japanese_name          0
name                   0
percentage_male       98
pokedex_number         0
sp_attack              0
sp_defense             0
speed                  0
type1                  0
type2                384
weight_kg             20
generation             0
is_legendary           0
dtype: int64

In [26]:
#Considerazioni sul senso di riempire o meno i valori nulli: nel caso di 'type2' non ha senso perché il campo indica
#che il Pokémon non ha un secondo tipo. Nel campo 'percentage_male' non ha senso perché il campo indica che quel Pokémon
#può essere soltanto di sesso femminile. Nei campi peso e altezza, invece, non mi è chiaro il motivo dei valori nulli; 
#suppongo che sia perché si riferiscono a Pokémon con più di una forma e non si vuole creare confusione.

#Elimino tutte le righe con valori nulli
df_clean = df.dropna()
print(f"Righe prima del dropna: {len(df)}")
print(f"Righe dopo il dropna: {len(df_clean)}")

Righe prima del dropna: 801
Righe dopo il dropna: 339

In [30]:
#Esercizio: analisi dati automobili

#Importo pandas e carico csv
import pandas as pd
df = pd.read_csv('C:\\Users\\alice\\Downloads\\Automobile_data.csv', na_values=["?"])   #Noto che i NaN sono indicati con '?', quindi devo specificarlo
anteprima = df.head()
print(anteprima)

   symboling  normalized-losses         make fuel-type aspiration  \
0          3                NaN  alfa-romero       gas        std
1          3                NaN  alfa-romero       gas        std
2          1                NaN  alfa-romero       gas        std
3          2              164.0         audi       gas        std
4          2              164.0         audi       gas        std

  num-of-doors   body-style drive-wheels engine-location  wheel-base  ...  \
0          two  convertible          rwd           front        88.6  ...
1          two  convertible          rwd           front        88.6  ...
2          two    hatchback          rwd           front        94.5  ...
3         four        sedan          fwd           front        99.8  ...
4         four        sedan          4wd           front        99.4  ...

   engine-size  fuel-system  bore  stroke compression-ratio horsepower  \
0          130         mpfi  3.47    2.68               9.0      111.0
1          130         mpfi  3.47    2.68               9.0      111.0
2          152         mpfi  2.68    3.47               9.0      154.0
3          109         mpfi  3.19    3.40              10.0      102.0
4          136         mpfi  3.19    3.40               8.0      115.0

   peak-rpm city-mpg  highway-mpg    price
0    5000.0       21           27  13495.0
1    5000.0       21           27  16500.0
2    5000.0       19           26  16500.0
3    5500.0       24           30  13950.0
4    5500.0       18           22  17450.0

[5 rows x 26 columns]

In [31]:
#Controllo i valori nulli
valori_nulli = df.isnull().sum()
print(valori_nulli)

symboling             0
normalized-losses    41
make                  0
fuel-type             0
aspiration            0
num-of-doors          2
body-style            0
drive-wheels          0
engine-location       0
wheel-base            0
length                0
width                 0
height                0
curb-weight           0
engine-type           0
num-of-cylinders      0
engine-size           0
fuel-system           0
bore                  4
stroke                4
compression-ratio     0
horsepower            2
peak-rpm              2
city-mpg              0
highway-mpg           0
price                 4
dtype: int64

In [34]:
#Controllo quali righe hanno valori nulli in 'num-of-doors' (risultato: la 27 e la 63)
df[df['num-of-doors'].isnull()].index

Index([27, 63], dtype='int64')

In [36]:
#Considerazione: ci sono due tipi di automobile in cui mancano dati nel campo del numero delle porte.
#Possibili motivi: auto con configurazioni particolari o veicoli non convenzionali (commerciali, prototipi, ecc)
#Cerco quali sono i modelli con i dati mancanti per le porte
df[df['num-of-doors'].isnull()][['make', 'body-style', 'num-of-doors']]

     make body-style num-of-doors
27  dodge      sedan          NaN
63  mazda      sedan          NaN

In [ ]:
#Considerazione finale sui dati mancanti: se il body-style è sedan, allora molto probabilmente hanno 4 porte
#e quindi si tratta semplicemente di info mancanti.

In [39]:
#Esercizio: analisi dataframe dummy

#Importo librerie
import numpy as np
import pandas as pd

#Importo il DataFrame con i dati
temp = pd.DataFrame({
    "Giorno": list(range(13)),  # da 0 a 12
    "Temperature": [18, 19, 18, np.nan, 21, 20, 20, np.nan, 21, 23, np.nan, 23, 24]
})

#Visualizzo i datii
print("Dati:")
print(temp)

#Controllo quanti valori mancanti ci sono nella colonna Temperature
print("\nValori nulli in 'Temperature':")
print(temp['Temperature'].isnull().sum())

#Eseguo l'interpolazione per riempire i NaN (stima basata sui dati vicini a quelli mancanti)
temp['Temperature_interpolata'] = temp['Temperature'].interpolate()

#Visualizzo il DataFrame dopo interpolazione
print("\nDati dopo interpolazione:")
print(temp)

Dati:
    Giorno  Temperature
0        0         18.0
1        1         19.0
2        2         18.0
3        3          NaN
4        4         21.0
5        5         20.0
6        6         20.0
7        7          NaN
8        8         21.0
9        9         23.0
10      10          NaN
11      11         23.0
12      12         24.0

Valori nulli in 'Temperature':
3

Dati dopo interpolazione:
    Giorno  Temperature  Temperature_interpolata
0        0         18.0                     18.0
1        1         19.0                     19.0
2        2         18.0                     18.0
3        3          NaN                     19.5
4        4         21.0                     21.0
5        5         20.0                     20.0
6        6         20.0                     20.0
7        7          NaN                     20.5
8        8         21.0                     21.0
9        9         23.0                     23.0
10      10          NaN                     23.0
11      11         23.0                     23.0
12      12         24.0                     24.0